/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

/** Fonts **/
@font-face {
  font-family: 'impactregular';
  src: url("../fonts/impact-webfont.eot");
  src: url("../fonts/impact-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/impact-webfont.woff2") format("woff2"), url("../fonts/impact-webfont.woff") format("woff"), url("../fonts/impact-webfont.ttf") format("truetype"), url("../fonts/impact-webfont.svg#impactregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*** varibles **/
.standard_width, .app-timer-section {
  width: 85%;
  margin: 0 auto;
}

body, html {
  width: 100%;
  height: 100%;
  /*optional but incase it still doesn't work.*/
  min-width: 100%;
  min-height: 100%;
  /*further optional still incase elements case overflows*/
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  /*or hidden*/
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

body {
  background: #53b21f;
  font-family: 'PT Sans', sans-serif;
  color: #333;
  user-select: none;
  box-sizing: border-box;
  font-size: 100%;

}

.main-content {
  width: 100%;
  min-width: 321px;
  max-width: 481px;
  height: 100%;
  max-height: 768px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.game-screen {
  background-image: url("../images/bg.png");
  background-size: 100% 100%;
  background-position: 100% 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.game-screen[data-show=false] {
  display: none;
}

.game-screen[data-show=true] {
  display: block;
}

.game-holder {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
.game-holder ul {
  margin: 0 auto;
}
.game-holder ul li {
  display: inline-block;
  vertical-align: top;
  white-space: none;
}
.game-holder ul li ul {
  font-size: 100%;
}
.game-holder ul li ul li {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/sprite.png");
  cursor: pointer;
  margin: 0.2em;
  position: relative;
}
.game-holder ul li ul li[data-flip^='std'] {
  background-image: none;
}
.game-holder ul li ul li[data-flip^='std']:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../images/sprite.png");
  background-size: 100%;
  transform: rotate(180deg);
}

/*** Start screen ***/
.gstart {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("../images/home-screen.png");
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  top: 0;
}
.gstart .stat-page-holder {
  max-width: 85%;
  margin: 0 auto;
  padding-top: 12%;
  text-align: center;
}
.gstart .bottom-part {
  max-width: 80%;
  margin: 10em auto 0;
  position: relative;
}

.gstart[data-show=true] {
  display: block;
}

.gstart[data-show=false] {
  display: none;
}

.error {
  border: solid 2px red;
}

.app-timer-section {
  padding: 1em 0 0;
  margin-bottom: 1.5em;
}

.app-instructions-section {
  margin: 0 auto 20px;
  width: 75%;
  padding: 4.5% 10%;
  background: #FFF;
  border-radius: 10px;
  box-shadow: -3px 5px 5px 0px rgba(50, 50, 50, 0.45);
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}

.app-instructions-section[data-instructions-visible=true] {
  display: block;
}

.app-instructions-section[data-instructions-visible=false] {
  display: none;
}

.info-circle {
  width: 5.3em;
  height: 5.3em;
  display: inline-block;
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/icon-sprite.png");
  margin: 0 0.97em;
  cursor: pointer;
  vertical-align: top;
  transition: all 100ms ease-out;
  position: absolute;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}
.info-circle.home {
  background-position: 0 50%;
  background-size: 480.909091%;
  left: 18%;
}
.info-circle.logos {
  width: 24em;
  height: 12em;
  background-position: 0 0%;
  background-size: 100%;
  cursor: initial;
  position: relative;
}
.info-circle.play {
  width: 7.3em;
  height: 11.5em;
  background-position: 0 23.756432%;
  background-size: 330.625%;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.info-circle.twt {
  margin-top: 15%;
  background-image: url("../images/twitter.png");
  vertical-align: bottom;
  right: 0;
  left: 0;
  bottom: -10em;
  margin: 0 auto;
}
.info-circle.playservices {
  margin-top: 15%;
  background-image: url("../images/playservices.png");
  vertical-align: bottom;
  right: 0;
  left: 0;
  bottom: -10em;
  margin: 0 auto;
}
.info-circle.restart {
  background-position: 0 41.009946%;
  background-size: 476.576577%;
  right: 18%;
}
.info-circle.sound {
  background-image: none;
  right: 2%;
}
.info-circle.like {
  background-position: 0 67.633588%;
  background-size: 480.909091%;
  left: 2%;
}
.info-circle.share {
  background-position: 0 76.412214%;
  background-size: 480.909091%;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.info-circle.fb {
  background-position: 0 84.417549%;
  background-size: 539.795918%;
  position: absolute;
  left: 0;
}
.info-circle.level {
  background-position: 0 92.208775%;
  background-size: 539.795918%;
  float: right;
  position: relative;
  text-align: center;
}
.info-circle.level span {
  color: #fff;
  font-size: 3em;
  font-family: 'impactregular';
  display: block;
  margin-top: 25%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.info-circle.timer {
  background-position: 0 100%;
  background-size: 539.795918%;
  float: left;
  position: relative;
}
.info-circle.timer .bubble, .info-circle.timer .timer-circle {
  position: absolute;
  bottom: 0;
  display: inline-block;
  vertical-align: bottom;
  width: 5.3em;
  height: 5.3em;
  background-image: url("../images/timer.png");
  background-size: 100%;
  z-index: 99;
}
.info-circle.timer .timer-circle {
  background-image: url("../images/timer-circle.png");
  background-size: 100%;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform: rotate(180deg);
}

.info-circle[data-sound=false] {
  background-image: url("../images/mute.png");
  background-size: 100%;
  background-position: 100% 100%;
}

.info-circle[data-sound=true] {
  background-image: url("../images/sound.png");
  background-size: 100%;
  background-position: 100% 100%;
}

.timer-animation {
  animation-name: rota;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/*** Animation **/
@keyframes rota {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 10px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 10px);
  }
  to {
    -moz-transform: translate(0, 0px);
  }
}
/*Game instructions*/
.app-instructions-section[data-instructions-visible=false] {
  display: none;
}

/** Game cards **/
.main-card-holder {
  width: 1000000px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease;
  float: left;
}

li.holder {
  float: left;
  max-width: 481px;
}

ul[data-colnum='2'] {
  width: 62%;
  margin: 0 auto;
}
ul[data-colnum='2'] li {
  width: 9em;
  height: 10em;
}
ul[data-colnum='2'] li:nth-child(2n + 2) {
  margin-right: 0;
}

ul[data-colnum='3'] {
  width: 84%;
}
ul[data-colnum='3'] li {
  width: 8em;
  height: 9em;
}
ul[data-colnum='3'] li:nth-child(3n + 3) {
  margin-right: 0;
}

ul[data-colnum='3-2'] {
  width: 75.5%;
}
ul[data-colnum='3-2'] li {
  width: 7.2em;
  height: 8.2em;
}
ul[data-colnum='3-2'] li:nth-child(3n + 3) {
  margin-right: 0;
}

ul[data-colnum='3-3'] {
  width: 75.5%;
}
ul[data-colnum='3-3'] li {
  width: 7.2em;
  height: 8.2em;
}
ul[data-colnum='3-3'] li:nth-child(3n + 3) {
  margin-right: 0;
}

ul[data-colnum='4'] {
  width: 85%;
}
ul[data-colnum='4'] li {
  width: 6em;
  height: 6.7em;
}
ul[data-colnum='4'] li:nth-child(4n + 4) {
  margin-right: 0;
}

li[data-std=y][data-type='miss-mf'] {
  background-position: 0 10%;
  background-size: 100%;
}

li[data-std=n][data-type='miss-mf'] {
  background-position: 0 0%;
  background-size: 100%;
}

li[data-std=y][data-type='miss-mf2'] {
  background-position: 0 30%;
  background-size: 100%;
}

li[data-std=n][data-type='miss-mf2'] {
  background-position: 0 20%;
  background-size: 100%;
}

li[data-std=y][data-type='bottle-g'] {
  background-position: 0 70%;
  background-size: 100%;
}

li[data-std=n][data-type='bottle-g'] {
  background-position: 0 40%;
  background-size: 100%;
}

li[data-std=y][data-type='bottle-y'] {
  background-position: 0 80%;
  background-size: 100%;
}

li[data-std=n][data-type='bottle-y'] {
  background-position: 0 50%;
  background-size: 100%;
}

li[data-std=y][data-type='bottle-b1'] {
  background-position: 0 80%;
  background-size: 100%;
}

li[data-std=n][data-type='bottle-b1'] {
  background-position: 0 60%;
  background-size: 100%;
}

li[data-std=y][data-type='bottle-b2'] {
  background-position: 0 70%;
  background-size: 100%;
}

li[data-std=n][data-type='bottle-b2'] {
  background-position: 0 60%;
  background-size: 100%;
}

li[data-std=y][data-type='plate'] {
  background-position: 0 100%;
  background-size: 100%;
}

li[data-std=n][data-type='plate'] {
  background-position: 0 90%;
  background-size: 100%;
}

/*** Flip images ***/
li[data-flip='std-n'][data-type='miss-mf']:before {
  background-position: 0 0%;
  background-size: 100%;
}

li[data-flip='std-y'][data-type='miss-mf']:before {
  background-position: 0 10%;
  background-size: 100%;
}

li[data-flip='std-n'][data-type='miss-mf2']:before {
  background-position: 0 20%;
  background-size: 100%;
}

li[data-flip='std-y'][data-type='miss-mf2']:before {
  background-position: 0 30%;
  background-size: 100%;
}

li[data-flip='std-n'][data-type='bottle-g']:before {
  background-position: 0 40%;
  background-size: 100%;
}

li[data-flip='std-y'][data-type='bottle-g']:before {
  background-position: 0 70%;
  background-size: 100%;
}

li[data-flip='std-n'][data-type='bottle-y']:before {
  background-position: 0 50%;
  background-size: 100%;
}

li[data-flip='std-y'][data-type='bottle-y']:before {
  background-position: 0 80%;
  background-size: 100%;
}

li[data-flip='std-n'][data-type='bottle-b1']:before {
  background-position: 0 60%;
  background-size: 100%;
}

li[data-flip='std-y'][data-type='bottle-b1']:before {
  background-position: 0 80%;
  background-size: 100%;
}

li[data-flip='std-n'][data-type='bottle-b2']:before {
  background-position: 0 60%;
  background-size: 100%;
}

li[data-flip='std-y'][data-type='bottle-b2']:before {
  background-position: 0 70%;
  background-size: 100%;
}

li[data-flip='std-n'][data-type='plate']:before {
  background-position: 0 90%;
  background-size: 100%;
}

li[data-flip='std-y'][data-type='plate']:before {
  background-position: 0 100%;
  background-size: 100%;
}

/* Game over*/
.game-over {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/bubbles.png");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 999;
}

.game-over[data-gmover='false'] {
  display: none;
}

.game-over[data-gmover='true'] {
  display: block;
}

.game-over-container {
  position: absolute;
  top: 9%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: auto;
}

.game-over .top-section, .game-over .bottom-section {
  text-align: center;
  margin: 1em 0;
  position: relative;
  height: 6.5em;
}
.game-over .middle-section {
  width: 100%;
  height: auto;
  padding: 1em 2em;
  background: #2dc3e6;
  box-shadow: inset 1px 1px 57px 28px #a2f6ff;
  border-radius: 18px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.game-over .middle-section header h1 {
  font-size: 2.5em;
  padding: 10px 0;
  border-bottom: solid 2px #fff;
  text-align: center;
  font-family: 'impactregular';
}
.game-over .middle-section .scores {
  clear: both;
  margin: 0.65em 0;
  font-family: 'impactregular';
}
.game-over .middle-section .sharescore {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  margin: 1em;
  padding: 1.2em 0 0;
  border-top: solid 2px #fff;
  clear: both;
  font-family: 'impactregular';
  line-height: 1.4;
}
.game-over .middle-section .text {
  font-size: 2.4em;
  float: left;
  margin-left: 20px;
}
.game-over .middle-section .bscore .text {
  font-size: 1.7em;
  margin-left: 10px;
}
.game-over .middle-section .score {
  font-size: 2.3em;
  float: right;
  margin-right: 15%;
}

.highscore {
  padding: 2%;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  font-family: 'impactregular';
}

.highscore[data-isHighScore=false] {
  display: none;
}

.highscore[data-isHighScore=true] {
  display: block;
}

/*** Helpers ***/
.clr-bth {
  clear: both;
}

.red {
  color: #9a0000;
}

.red2 {
  color: #d61213;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*******************
* Media Queries
********************/
@media screen and (width: 320px) {
  .gstart {
    font-size: 78%;
  }
  .gstart .bottom-part {
    max-width: 87%;
    position: relative;
    margin-top: 9em;
  }
  .gstart .stat-page-holder {
    max-width: 100%;
  }

  .info-circle.logos {
    font-size: 90%;
  }

  .app-timer-section {
    font-size: 90%;
  }

  li.holder ul[data-colnum='2'] {
    width: 83%;
    font-size: 89%;
  }
  li.holder ul[data-colnum='3'] {
    width: 95%;
    font-size: 76%;
  }
  li.holder ul[data-colnum='3-2'] {
    width: 87%;
    font-size: 76%;
  }
  li.holder ul[data-colnum='3-3'] {
    width: 81%;
    font-size: 71%;
  }
  li.holder ul[data-colnum='4'] {
    width: 95%;
    font-size: 74%;
  }

  .app-instructions-section {
    width: 79%;
    padding: 5.5% 7%;
    font-size: 120%;
  }

  .game-over {
    font-size: 80%;
  }

  .game-over-container {
    top: 2%;
    width: 83%;
  }
}
@media screen and (width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
  .gstart {
    font-size: 75%;
  }
  .gstart .bottom-part {
    max-width: 79%;
    position: relative;
    margin-top: 9em;
  }
  .gstart .stat-page-holder {
    max-width: 100%;
  }

  .info-circle.logos {
    font-size: 90%;
  }

  .app-timer-section {
    font-size: 90%;
  }

  li.holder ul[data-colnum='2'] {
    width: 69%;
    font-size: 73%;
  }
  li.holder ul[data-colnum='3'] {
    width: 95%;
    font-size: 76%;
  }
  li.holder ul[data-colnum='3-2'] {
    width: 87%;
    font-size: 76%;
  }
  li.holder ul[data-colnum='3-3'] {
    width: 76%;
    font-size: 65%;
  }
  li.holder ul[data-colnum='4'] {
    width: 95%;
    font-size: 74%;
  }

  .app-instructions-section {
    width: 79%;
    padding: 5.5% 7%;
    font-size: 102%;
  }

  .game-over {
    font-size: 75%;
  }

  .game-over-container {
    top: 2%;
    width: 77%;
  }
}
@media screen and (width: 360px) {
  .gstart {
    font-size: 95%;
  }
  .gstart .bottom-part {
    max-width: 87%;
    position: relative;
    margin-top: 9em;
  }
  .gstart .stat-page-holder {
    max-width: 100%;
  }

  .info-circle.logos {
    font-size: 90%;
  }

  li.holder ul[data-colnum='2'] {
    width: 83%;
    font-size: 100%;
  }
  li.holder ul[data-colnum='3'] {
    width: 95%;
    font-size: 85%;
  }
  li.holder ul[data-colnum='3-2'] {
    width: 95%;
    font-size: 94%;
  }
  li.holder ul[data-colnum='3-3'] {
    width: 87%;
    font-size: 86%;
  }
  li.holder ul[data-colnum='4'] {
    width: 85%;
    font-size: 75%;
  }

  .app-instructions-section {
    width: 79%;
    padding: 5.5% 7%;
  }

  .game-over {
    font-size: 90%;
  }

  .game-over-container {
    top: 6%;
    width: 83%;
  }
}
@media screen and (width: 360px) and (-webkit-device-pixel-ratio: 3) {
  .gstart {
    font-size: 95%;
  }
  .gstart .bottom-part {
    max-width: 87%;
    position: relative;
    margin-top: 9em;
  }
  .gstart .stat-page-holder {
    max-width: 100%;
  }

  .info-circle.logos {
    font-size: 90%;
  }

  li.holder ul[data-colnum='2'] {
    width: 83%;
    font-size: 100%;
  }
  li.holder ul[data-colnum='3'] {
    width: 95%;
    font-size: 85%;
  }
  li.holder ul[data-colnum='3-2'] {
    width: 95%;
    font-size: 94%;
  }
  li.holder ul[data-colnum='3-3'] {
    width: 85%;
    font-size: 84%;
  }
  li.holder ul[data-colnum='4'] {
    width: 95%;
    font-size: 84%;
  }

  .app-instructions-section {
    width: 79%;
    padding: 5.5% 7%;
  }

  .game-over {
    font-size: 90%;
  }

  .game-over-container {
    top: 6%;
    width: 83%;
  }
}
@media screen and (device-width: 360px) and (max-height: 600px) and (-webkit-device-pixel-ratio: 3) {
  li.holder ul[data-colnum='4'] {
    width: 91%;
    font-size: 80%;
  }
}
@media screen and (width: 384px) and (-webkit-device-pixel-ratio: 2) {
  .gstart {
    font-size: 95%;
  }
  .gstart .bottom-part {
    width: 100%;
    position: relative;
    margin-top: 9em;
  }
  .gstart .stat-page-holder {
    max-width: 100%;
  }

  .info-circle.logos {
    font-size: 90%;
  }

  li.holder ul[data-colnum='2'] {
    width: 78%;
    font-size: 100%;
  }
  li.holder ul[data-colnum='3'] {
    width: 90%;
    font-size: 86%;
  }
  li.holder ul[data-colnum='3-2'] {
    width: 90%;
    font-size: 95%;
  }
  li.holder ul[data-colnum='3-3'] {
    width: 83%;
    font-size: 88%;
  }
  li.holder ul[data-colnum='4'] {
    width: 92%;
    font-size: 86%;
  }

  .app-instructions-section {
    width: 79%;
    padding: 5.5% 7%;
  }

  .game-over {
    font-size: 90%;
  }

  .game-over-container {
    top: 6%;
    width: 79%;
  }
}
@media screen and (width: 400px) and (-webkit-device-pixel-ratio: 2) {
  .gstart {
    font-size: 95%;
  }
  .gstart .bottom-part {
    width: 100%;
    position: relative;
    margin-top: 9em;
  }
  .gstart .stat-page-holder {
    max-width: 100%;
  }

  .info-circle.logos {
    font-size: 90%;
  }

  li.holder ul[data-colnum='2'] {
    width: 75%;
    font-size: 100%;
  }
  li.holder ul[data-colnum='3'] {
    width: 86%;
    font-size: 86%;
  }
  li.holder ul[data-colnum='3-2'] {
    width: 82%;
    font-size: 90%;
  }
  li.holder ul[data-colnum='3-3'] {
    width: 82%;
    font-size: 90%;
  }
  li.holder ul[data-colnum='4'] {
    width: 88%;
    font-size: 86%;
  }

  .app-instructions-section {
    width: 79%;
    padding: 5.5% 7%;
    font-size: 135%;
  }

  .game-over {
    font-size: 90%;
  }

  .game-over-container {
    top: 6%;
    width: 79%;
  }
}
/* Application wide non-native CSS rules */